
<h1>Palindrome Detector</h1>

<form id="palindrome_tester" action="/check" method="post">
<textarea name="phrase" cols="40" rows="10"></textarea>
<br>
<button class="form-submit" type="submit">Is it a palindrome?</button>
</form>
