<form id="palindrome_tester" action="/check" method="post">
    <textarea name="phrase" cols="40" rows="10" placeholder="E.g Racecar is a palindrome because it's the same spellings in reversed"></textarea>
    <br>
    <button class="form-submit" type="submit">Is it a palindrome?</button>
</form>